.button {
	-moz-box-shadow:inset 0px -38px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px -38px 0px 0px #ffffff;
	box-shadow:inset 0px -38px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #de7ade;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px -38px 0px #ffffff;
}.button:active {
	position:relative;
	top:1px;
}